
.footer-ctn {
    $padding-section : 3rem;

    padding: $padding-section/4 $padding-section;

    @apply flex flex-col items-center gap-2;

    background-color: rgb(53, 80, 112, .2);

    & > h3 {
        font-family: $f-family-stand;
        font-weight: bold;
        line-height: 1.6;
        letter-spacing: 2px;
        color: $primary-color;
    }

}