
//@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Mukta:wght@200;300;400;500;600;700;800&family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

$f-family-stand : 'Playpen Sans', sans-serif;
$f-family-body : 'Afacad', sans-serif;

// Colors
// Dark Purple : #241623
// Plainum : #EBEBEB
// Dark Liver : #474954

$primary-color : #355070;
//$primary-color-stand : rgb(244, 63, 84);
$text-color : #0a0a0a

